<h1><%= @article.title %></h1>


<p><%= @article.body %></p>



<h2>Comments</h2>
<%= render @article.comments %>




<h2> Add a comment: </h2>
<%= render 'comments/form' %>



  <%= link_to "Edit", edit_article_path(@article), style: "font-size: 18px;" %> |          
  <%= link_to "Destory", article_path(@article),
                    style: "font-size: 18px;", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
                  <br><br>


<button> <%= link_to "Back", root_path  %></button>

